body {
    font-family: Arial;
    background: #b09d25;

}

.container {
    width: 350px;
    background: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: antiquewhite;
}

#taskList li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.low { background: #4CAF50; }
.medium { background: #ac07ff; }
.high { background: #f4364f; }

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

button {
    margin-left: 10px;
    background-color:aqua;
    border-radius: 3px;
}